.signup-form {
    width: 90%;
    max-width: 40rem;
    margin: 40px auto;
    padding: 2rem;
    background: #ffd8a8;
    border-radius: 20px;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.signup-form input {
    padding: 0.6rem;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #f4ac54;
    color:#772522;
    border:none;
}

.signup-form label {
    display: block;
    padding-top: 15px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #772522;
}

/* Bouton */

.signup-form button {
    margin: 0 30px;
    border: none;
    font-weight: bold;
}

/* Style du checkboxes */

.control-checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    cursor: pointer;
}

.control-checkbox:has(input[type="checkbox"]) {
    width: auto;
    margin: 0;
    margin-top: 3px;
    cursor: pointer;
}

.control-checkbox:has(input[type="checkbox"]) label {
    margin: 0;
    font-size: 0.85rem;
    font-weight: normal;
    cursor: pointer;
    line-height: 1.2;
    text-align: left;
}

.control-checkbox input[type="checkbox"] {
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #d9e2f1;
}

/* Message d'erreur */
.control-error {
    color: red;
    font-size: 13px;
    margin-top: 0px;
}

/* Section de texte */

.titre {
    margin-bottom: 5px;
    color: #772522;
}

.message {
    margin-top: 5px;
    margin-bottom: 23px;
    color: #772522;
}