.about-container {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color : #ffd8a8;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: norma;
    font-style: normal;
    border-radius: 30px;
    margin-bottom: 80px;
}

.about-title {
    color: #772522;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;

    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

hr {
    width: 40%;
    margin: auto;
    border: 1px solid;
    color: #f4ac54;
}

.about-information p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #772522;
}

.about-information h2 {
    text-align: center;
    color: #772522;
    margin-bottom: 0px;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.openings {
    color: #fdf5e6;
    padding: 15px 25px;
    border-radius: 8px;
    width: fit-content;
    margin: 0 auto 2rem auto;
    margin-bottom: 30px;
    font-weight: 700;
}

.about-nouvelle h3 {
    text-align: center;
    color: #772522;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.about-nouvelle p {
    text-align: center;
    color: #772522;
}

.address-link {
    color: #772522;
    text-decoration: none;
    font-weight: bold;
    background-color: #facc93;
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
}

.address-link:hover {
    text-decoration: underline;
}

.about-nouvelle {
    width: 100%;
    background-color: #facc93;
    border-radius: 15px;
}

.about-information {
    width: 100%;
}

.about-application h3{
    text-align: center;
    color: #772522;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.about-application p{
    text-align: center;
    color: #772522
}
;