.main-foot_banner {
    background-color: #ffb341;
    padding: 30px 0;
    text-align: center;
    color: #772522;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.footer-nav-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.foot-link {
    text-decoration: none;
    color: #772522;
    font-size: 1rem;
    transition: color 0.3s ease;
    margin: 20px;
}

.foot-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.copyright {
    font-size: 0.8rem;
    color: #772522;
    margin-top: 20px;
}