.head-banner{
    color: rgb(255, 204, 0);
    background-color: #fee5c7;
    display: flex;
    /*Position du titre*/
    justify-content: left;
    align-items: center;
    padding-right: 20px;
    flex-direction: row;
    /* positionner en haut du page et toucher les deux cotes*/
    position: relative;
    flex-wrap: wrap;
    height: auto;
    min-height: 100px;
}

.logo{
    height: auto;
    width: 75px;
    margin-left: 1rem;
}

.title{
    padding-left: 25px;
    margin-right: auto;
    margin-left: 1rem;
}

.side-buttons{
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
}