.food-types {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}


.types-select {
    background-color: #f6ce9d;
    border: 1px solid #f6ce9d;
    color: #772522;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    background-position: right 10px center;
    font-weight: bold;
 }