.login-form {
    width: 90%;
    max-width: 40rem;
    margin: 40px auto;
    padding: 2rem;
    background: #ffd8a8;
    border-radius: 20px;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.login-form input {
    padding: 0.6rem;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #f4ac54;
    color:black;
    border:none;
}

.login-form h2 {
    color: #772522;
}

.login-form p {
    text-align: center;
    margin-top: 2rem;
}

.login-form button {
    margin: 0 30px;
    border: none;
    font-weight: bold;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #772522;
}

.form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.button-login {
    width: 300px;
    padding: 0.7rem;
    background-color: #772522;
    color: #ffd8a8;
    border-radius: 8px;
    cursor: pointer;
    margin: 0;
}

.signup-text {
    font-size: 0.75rem;
    color: #333;
    margin-top: 0.5rem;
}

.button-signup {
    font-size: 0.75rem;
    background: none;
    border: none;
    color: #772522;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin-left: 8px;
}
