.avis-card {
    max-width: 500px;
    transition: transform 0.2s;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 216, 168, 0.2);
    border-radius: 15px;
    padding: 20px;
    width: 300px; 
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.avis-card:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.15);
}

.avis-description {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #ffd8a8;
    margin-bottom: 15px;
}

.avis-creator {
    font-weight: bold;
    color: #ffd8a8;
    font-size: 0.9rem;
    font-style: italic;
}

.avis-footer {
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid rgba(255, 216, 168, 0.1);
    padding-top: 10px;
}

.btn-delete {
    background-color: transparent;
    border: #ffd8a8;
    color : #ffd8a8;
}